<table class="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Rule</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.rule %></td>
        <td><%= event.user.name %></td>
        <td><%= link_to 'Show', event %></td>
        <% if current_user == event.user %>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Event', new_event_path %>
<br>
<%= month_calendar events: @events do |date, events| %>
  <%= date %>

  <% events.each do |event| %>
    <div>
      <%= link_to event.title, event %>
    </div>
  <% end %>
  <div class="button_add">
    <a href='#' onclick="overlay('<%= date %>')">+</a>
  </div>
<% end %>

<div id="overlay">
  <div>
    Click here to [<a href='#' onclick='overlay()'>close</a>]
    <%= form_tag(controller: "events", action: "create", method: "post") do %>
      <div class="field">
        <%= label_tag "title" %><br>
        <%= text_field :event, :title %>
      </div>
      <div class="field">
        <%= label_tag "description" %><br>
        <%= text_area :event, :description %>
      </div>
      <div class="field">
        <%= label_tag "start_time" %><br>
        <%= text_field :event, :start_time %>
      </div>
      <div class="field">
        <%= label_tag "end_time" %><br>
        <%= text_field :event, :end_time %>
      </div>
      <div class="field">
        <%= label_tag "rule" %><br>
        Empty:<%= radio_button("event", "rule", "empty") %>
        Daily:<%= radio_button("event", "rule", "daily") %>
        Weekly:<%= radio_button("event", "rule", "weekly") %>
        Monthly:<%= radio_button("event", "rule", "monthly") %>
        Yearly:<%= radio_button("event", "rule", "early") %>
      </div>
  
      <div class="field">
        <%= submit_tag "Create" %>
      </div>
    <% end %>
  </div>
</div>